{{> header}}
<div id="main">
    <div class="inner">
        <h1>{{name}}</h1>
        <span class="image main"><img src="/images/headers/{{slug}}.jpg" alt="" /></span>

        <div class="native-player">
            <figure>
                {{{teaser}}}
                <figcaption><i>تیزر {{name}}</i></figcaption>
            </figure>
        </div>

        <br>
        <div class="justified-text">{{{description}}}</div>

        {{> tgButton}}
    </div>
</div>