<section class="hero">
  <div class="hero-inner">
    <h6>پروژه‌ای از <b>STRING</b>CAST</h6>
    <h1>جنگ‌های هسته‌ای</h1>
    <h2>روایتی از جنگ سرد و خطرناک‌ترین سلاح بشریت</h2>
    <a href="https://t.me/tele3bot" target="_blank" class="btn">پیش خرید کنید!</a>
    <div>
      {{> countdown}}
    </div>
  </div>
</section>

<!-- Header -->
{{> header}}

<!-- Main -->
<div id="main">
  <div class="inner">
    <header>
      <h1>
        به مجموعه جنگ‌های اتمی خوش آمدید<br>
      </h1>
      <p>
        در «ارتش اشباح» یادداشت‌هایی درباره‌ی مساله‌ی جغرافیای جنگ و مفهوم
        مدرن اشغال، مساله‌ی گزارش جنگ، پهبادها، سایبورگ‌ها و تسلیحات
        روباتیک مدرن می‌خوانیم. این شماره از جغرافیای فلسطین
        و پاکستان و عراق عبور می‌کند و از هیروشیما و توکیو می‌گذرد و
        به شهرهایی تخیلی می‌رسد. به باغ‌های بابل، به ال‌پارمیتر و عدن.
      </p>
    </header>
    <section class="tiles">
      {{#each episodes}}
      <article class="{{style}}">
        <span class="image img-container">
          <img src="{{pic}}" alt="" />
          {{#if locked}}
          <img class="lock-image" src="/images/lock.png" alt="" onfocus="sayNo" />
          {{/if}}
        </span>
        {{#if locked}}
        <a href="javascript:lockedEpisode();">
        {{else}}
        <a href="/ep/{{@index}}">
        {{/if}}
          <h2>{{name}}</h2>
          <div class="content">
            <p>
              {{headline}}
            </p>
          </div>
        </a>
      </article>
      {{/each}}
    </section>

    <br>
    <hr>

    <section>
      <h2>توضیحات</h2>
      <p class="justified-text"><span class="image left"><img src="/images/pic14.jpg" alt="" /></span>
        تجربه‌ی خواندن دائو ده جینگ (Tao Te Ching)، کتاب مقدس مکتب دائوئیسم/تائوئیسم (Taosim) برای
        من مهم و تکان‌دهنده بود؛ مهم از این لحاظ که به لطف آن بالاخره با مکتب فکری‌‌ای آشنا شدم که
        توانستم در سطحی عمیق با آن ارتباط برقرار کنم و ذهنیت خودم را در ابعاد فکری‌اش پیدا کنم؛
        تکان‌دهنده از این لحاظ که پیش‌فرض ساده‌انگارانه‌ای نسبت به دائوئیسم داشتم و این پیش‌فرض
        دگرگون شد. پیش‌فرض من این بود که دائوئیسم، با سمبولیسم و لفاظی معماگونه سعی دارد مثل مذاهب و
        ایدئولوژی‌های دیگر پیچیدگی‌ها و چندگانگی‌های دنیا را مثل پوره له کند و در ظرفی با قالب مشخص
        بریزد تا توده‌ی مردم با خوردن آن راحت‌تر بتوانند آنچه را که دنیا برای عرضه دارد هضم کنند و
        حاکمان و قدرتمندان هم به لطف این ایدئولوژی فراگیر با چارچوب مشخص، راحت‌تر بتوانند رفتار مردم
        را پیش‌بینی و در نتیجه کنترل‌شان کنند.
      </p>

      <div class="row">
        <div class="col-6 col-12-medium">
          <ul class="actions fit">
            <li><a href="#" class="button primary fit">دریافت در تلگرام</a></li>
            <li><a href="#" class="button fit">دریافت با ایمیل</a></li>
          </ul>
        </div>
      </div>

    </section>

  </div>
</div>